Repository NCSC-NL/log4shell, pull requests merged in 2021-12, with the labels that each got.

#51 Add Memurai not affected
  software/README.md
Labels: software-list

#49 Added BBB to the list of software
  software/README.md
Labels: software-list

#45 added Websphere 8.5 and 9.0 fix info
  software/README.md
Labels: software-list

#36 Add GFI Software Kerio Connect as vulnerable
  software/README.md
Labels: software-list

#63 Added Dell Products
  software/README.md
Labels: software-list

#60 Fixed typo FortiSwicth
  software/README.md
Labels: software-list

#59 added AIL
  software/README.md
Labels: software-list

#58 Add FileCap to software-list
  software/README.md
Labels: software-list

#61 Update README.md with Zabbix Monitoring information
  software/README.md
Labels: software-list

#20 Update README.md
  software/README.md
Labels: software-list

#73 Add software under investigation by Dell
  software/README.md
Labels: software-list

#72 Add Watcher Software
  software/README.md
Labels: software-list

#74 Added NetIQ Access Manager 4.5.x and 5.0.x
  software/README.md
Labels: software-list

#71 Adds Topicus KeyHub to the list of software
  software/README.md
Labels: software-list

#78 Add Rockwell Security Advisory
  software/README.md
Labels: software-list

#98 Add Neo4j
  software/README.md
Labels: software-list

#103 Add PaperCut NG and MF
  software/README.md
Labels: software-list

#120 Mark Chef products as not vulnerable
  software/README.md
Labels: software-list

#118 Add NXLog Manager
  software/README.md
Labels: software-list

#117 Update Citrix Workspace app
  software/README.md
Labels: software-list

#110 Adding status LogicMonitor SaaS Platform
  software/README.md
Labels: software-list

#131 Add Netwrix Auditor - not vuln
  software/README.md
Labels: software-list

#130 Add synology DSM - not vuln
  software/README.md
Labels: software-list

#129 Add postgres jdbc - not vuln
  software/README.md
Labels: software-list

#127 Add OTRS to software-list
  software/README.md
Labels: software-list

#101 Added tableau
  software/README.md
Labels: software-list

#105 Update README.md
  software/README.md
Labels: software-list

#109 Update Veeam not vulnerable with link to KB article
  software/README.md
Labels: software-list

#142 Adding Juniper
  software/README.md
Labels: software-list

#116 Update readme
  software/README.md
Labels: software-list, help wanted, investigate

#119 Add cerebro, an Elasticsearch Web Admin Tool
  software/README.md
Labels: software-list

#125 Update README.md
  software/README.md
Labels: software-list

#126 Added Apache Camel + Apache Karaf + Apache CloudStack
  software/README.md
Labels: software-list

#136 Add Siemens SSA-661247
  software/README.md
Labels: software-list

#146 Opensuse
  software/README.md
Labels: software-list

#187 NDN additions
  software/README.md
Labels: software-list

#189 Add ManageEngine EventLog Analyzer
  software/README.md
Labels: software-list

#147 GitHub Enterprise Server
  software/README.md
Labels: software-list

#185 Added Owncloud (Filesharing) as Not Vuln to README
  software/README.md
Labels: software-list

#196 Update regex info - add caveats and other detection methods
  mitigation/README.md
Labels: CTI

#161 mitigation: add web-server section including Nginx
  mitigation/README.md
Labels: CTI, investigate

#209 Elastic fixed
  software/README.md
Labels: software

#207 Added ISL Online to not vuln
  software/README.md
Labels: software

#208 SailPoint IdentityIQ 8.0 or later workaround
  software/README.md
Labels: software

#206 Added info about Jedis
  software/README.md
Labels: software

#228 Added estos andVulnerable/Investigation Software of Unify
  software/README.md
Labels: software

#264 Added Lansweeper
  software/README.md
Labels: software

#231 Attempt at making open PR list better usable
  .github/pull_request_template.md
Labels: software

#232 Add Pexip products to software list
  software/README.md
Labels: software

#220 update Vmware HCX
  software/README.md
Labels: software

#222 Adds alphabetic links for quick jump
  software/README.md
Labels: software, investigate

#225 Update README.md
  software/README.md
Labels: software

#283 VMware patched updates
  software/README.md
Labels: software

#234 Add 7signal sapphire
  software/README.md
Labels: software

#237 Add Wildfly
  software/README.md
Labels: software

#230 Update README.md
  software/README.md
Labels: software

#241 Toegevoegd Exact
  software/README.md
Labels: software

#242 Added Exivity note
  software/README.md
Labels: software

#249 Added Paxton Net2 Door Entry
  software/README.md
  software/vendor-statements/paxton_Net2_door_entry.png
Labels: software

#250 software/README.md - ISPNext
  software/README.md
  software/vendor-statements/ISPNext.png
Labels: software

#287 Add Meinberg products
  software/README.md
Labels: software

#286 Add Hitachi Energy statement
  software/README.md
Labels: software

#288 Removed BeyondTrust from supplier list
  software/README.md
Labels: software, PR-requested

#282 Add SAE-IT systems products
  software/README.md
Labels: software

#284 Add LiveAction affected/fixed products
  software/README.md
Labels: software

#278 Update HCL BigFix entries
  software/README.md
Labels: software

#252 Merge upstream to local for pull request prep
  software/README.md
Labels: investigate

#155 Update README.md
  scanning/README.md
Labels: CTI

#219 Adding information on Azure DevOps Server and Team Foundation Server
  software/README.md
Labels: software, investigate

#291 Add Wildfly
  software/README.md
Labels: software

#292 Update NetApp status
  software/README.md
Labels: software

#293 Add Netgate / pfSense
  software/README.md
Labels: software

#298 Kofax Robotic Process Automation (RPA) & Robot File System (RFS)
  software/README.md
Labels: software

#299 Add Devolutions to vendors
  software/README.md
Labels: software

#310 Added QNAP QES operating system as non vuln
  software/README.md
Labels: software

#311 Nomachine added
  software/README.md
Labels: software

#317 updated Elastic after yesterday's patches
  software/README.md
Labels: software

#318 Added Infoblox software
  software/README.md
Labels: software

#320 Fixed Cisco ISE Link Typo
  software/README.md
Labels: software

#323 fixed layout
  software/README.md
Labels: software

#328 Update Advanced Authentication and fix NetIQ source links
  software/README.md
Labels: software

#329 Update README - DrawIO added
  software/README.md
Labels: software

#332 Add Milestone VMS + article
  software/README.md
Labels: software

#312 Add Zyxel Devices
  software/README.md
Labels: software

#334 Adding Zendesk
  software/README.md
Labels: software

#335 Medical systems of Philips and Alphatron
  software/README.md
Labels: software

#338 Fix markup source SAP
  software/README.md
Labels: software

#339 Added 3CX vendor statement
  software/README.md
Labels: software

#346 Added Ivanti information
  software/README.md
Labels: software

#336 Add AFAS statement not vuln
  software/README.md
Labels: software

#340 Partial update DellEMC software
  software/README.md
Labels: software

#342 Added SyncroSoft Oxygen products
  software/README.md
Labels: software

#341 Add Check_MK
  software/README.md
Labels: software

#343 Add OpenVPN products
  software/README.md
Labels: software

#345 Meraki Product Line Update
  software/README.md
Labels: software

#344 Added LucaNet software
  software/README.md
Labels: software

#314 Added Plex Media Server
  software/README.md
Labels: software

#316 Changed Broadcom product status
  software/README.md
Labels: software

#326 Added Tesorion and Compumatica product statement
  software/README.md
Labels: software

#425 Change Hadoop to not vuln
  software/README.md
Labels: software, investigate

#490 Add Polycom
  software/README.md
Labels: software

#445 Added Microsoft 365 Defender advanced hunting queries
  hunting/Log4j-Microsoft-Defender.md
  hunting/README.md
  software/README.md
Labels: software, CTI

#325 note powerdns products as not vulnerable
  software/README.md
Labels: software

#498 Add blog post by AWS to the list of mitigations
  mitigation/README.md
Labels: CTI

#478 Add Detection Guidance document
  mitigation/Log4j Attack Detection Guidance - Release.pdf
  mitigation/README.md
Labels: CTI, investigate

#479 Secure2me Network Intrusion Detection
  mitigation/README.md
Labels: CTI

#226 Added Keeper SSO to software list
  software/README.md
Labels: software, PR-requested

#412 HCL BigFix with latest updates
  software/README.md
Labels: software

#597 Update Siemens products after SSA-661247 V1.3 and SSA-714170 V1.0
  software/README.md
Labels: software

#672 Updated Unifi information
  software/README.md
Labels: software

#666 Add NiceLabel
  software/README.md
Labels: software

#668 Update Nutanix
  software/README.md
Labels: software

#667 Update PTV Group
  software/README.md
Labels: software

#690 updated ESRI: removed version info
  software/README.md
Labels: software

#689 Update: Enfocus to reflect CVE-columns
  software/README.md
Labels: software

#700 Add iManage products
  software/README.md
Labels: software

#699 Sort enfocus alphabetically
  software/README.md
Labels: software

#697 Add Belden's statement about Hirschmann brand products
  software/README.md
Labels: software

#709 Add Micro Focus - Data protector
  software/README.md
Labels: software

#707 fix for softwarelist_parser.py
  tools/log4shell_softwarelist/softwarelist_parser.py
Labels: software

#701 Added Mitsubishi / Chatsworth Products / Openpath
  software/README.md
Labels: software

#692 Update QlikTech
  software/README.md
Labels: software

#691 Update data for Siemens products
  software/README.md
Labels: software

#645 Update Dell
  software/README.md
Labels: software

#694 Update Barco
  software/README.md
Labels: software

#704 Update README.md, added SAP Hana Cockpit
  software/README.md
Labels: software

#706 Update Palo Alto
  software/README.md
Labels: software

#705 Update Nulab products
  software/README.md
Labels: software

#678 Update Apache Kafka record
  software/README.md
Labels: software

#714 Textual changes to the software list page.
  software/README.md
Labels: software

#715 Update detection guide PDF
  detection_mitigation/2021-12-21 - Log4j Detection.pdf
Labels: CTI

#674 Added Personio to Readme
  software/README.md
Labels: software

#695 Update BMC Software
  software/README.md
Labels: software

#729 Update NVIDIA, Vyaire medical
  software/README.md
Labels: software

#734 Add comment regarding Siemens products
  software/README.md
Labels: software

#732 New versions Apache Log4j 2
  software/README.md
Labels: software

#733 Added OxygenXML
  software/README.md
Labels: software

#721 Add Akamai SIEM Integration Connector (CEF)
  software/README.md
Labels: software

#745 Add Qualys Log4Jscanwin
  scanning/README.md
Labels: CTI

#735 Update BD
  software/README.md
Labels: software

#736 Update Johnson Controls
  software/README.md
Labels: software

#738 Added Eaton Power Protector
  software/README.md
Labels: software

#743 Adding JavaMelody
  software/README.md
Labels: software

#744 Update Exact
  software/README.md
Labels: software

#746 Added Olympus and Beckman Coulter
  software/README.md
Labels: software

#754 Check softwarelist format
  .github/check_valid.py
  .github/workflows/check-software-diff.yml
Labels: repo-tooling

#739 add slide show for OES with complete mitigation process
  README.md
  detection_mitigation/Log4Shell for OES.pdf
  detection_mitigation/README.md
Labels: CTI, investigate

#755 fix table error
  software/README.md
Labels: software

#753 Added mutiple suppliers
  software/README.md
Labels: software

#756 Fix checker with direct download
  .github/workflows/check-software-diff.yml
Labels: repo-tooling
