Repository NCSC-NL/log4shell, pull requests merged in 2022-01, with the labels that each got.

#841 Add FME Desktop to software list
  software/software_list_s.md
Labels: software

#844 Update software_list_c.md
  software/software_list_c.md
Labels: software

#812 Add scanner yannart/log4shell-scanner-rs
  scanning/README.md
Labels: CTI

#847 Anssi cvp patch 43 cisco correction cesm
  software/software_list_c.md
Labels: software

#849 Fixed multiple product name issues
  software/software_list_c.md
  software/software_list_p.md
Labels: software

#850 Removed some Duplicate Products
  software/software_list_r.md
  software/software_list_s.md
Labels: software

#855 Add Ovarro products
  software/software_list_o.md
Labels: software

#852 Update Phoenix Contact status
  software/software_list_p.md
Labels: software

#856 Add log4shell-finder to scanning tools
  scanning/README.md
Labels: CTI

#857 Add PTC/Creo Parametric and PTC/Creo View
  software/software_list_p.md
  software/vendor-statements/Creo Parametric.png
  software/vendor-statements/Creo View.png
Labels: software

#749 Labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: repo-tooling, Stale

#876 Updated Rockwell products
  software/software_list_r.md
Labels: software

#877 Update SAE products
  software/software_list_s.md
Labels: software

#878 Update Schneider electric products
  software/software_list_s.md
Labels: software

#879 updated VMware list and removed some duplicates
  software/software_list_v.md
Labels: software
